.wrapper {
	width:1024px;
	margin:15px auto;
}

.player {
	position:relative;
	transform-origin:top left;
	background-repeat:no-repeat;
}

.all-streams .player::after {
	content:"";
	display:block;
	width:100%;
	height:15px;
	position:absolute;
	bottom:0px;
	z-index:1;
}

.stream:nth-child(1) .player::after {
	background-color:red;
}

.stream:nth-child(2) .player::after {
	background-color:yellow;
}

.stream:nth-child(3) .player::after {
	background-color:greenyellow;
}

.stream:nth-child(4) .player::after {
	background-color:blue;
}

.main-stream {
	float:left;
	width:48%;
}

.all-streams {
	float:right;
	width:48%;
}

.stream {
	float:left;
	width:45%;
	height:auto;
	margin-right:4%;
	margin-bottom:5%;
}

.record-flogs {
	clear:both;
}

.record-progress {
	height:15px;
	border:1px solid gray;
	background-color:lightgray;
	position:relative;
}

.record-progress .indicator {
	width:10px;
	height:30px;
	border:1px solid gray;
	background-color:lightgray;
	position:absolute;
	top:-7.5px;
	left:0;
	z-index:1;
}

.buttons {
	margin-top:20px;
	text-align:center;
}