.wrapper {
	width:1024px;
	margin:15px auto;
}

.player {
	position:relative;
	transform-origin:top left;
	background-repeat:no-repeat;
}

.all-streams .player .color-flag {
	content:" ";
	display:block;
	width:100%;
	height:15px;
	position:absolute;
	bottom:0px;
	z-index:1;
}

.all-streams .player:hover {
	cursor:pointer;
}

.all-streams .player.active-player:hover {
	cursor:default;
}
	
.active-player{
	border:5px solid gray;
}

.all-streams .stream:nth-child(1) .player .color-flag {
	background-color:red;
}

.all-streams .stream:nth-child(2) .player .color-flag {
	background-color:yellow;
}

.all-streams .stream:nth-child(3) .player .color-flag {
	background-color:greenyellow;
}

.all-streams .stream:nth-child(4) .player .color-flag {
	background-color:blue;
}

.main-stream {
	float:left;
	width:48%;
}

.all-streams {
	float:right;
	width:48%;
}

.stream {
	float:left;
	width:45%;
	height:auto;
	margin-right:4%;
	margin-bottom:5%;
}

.record-flags {
	clear:both;
	height:10px;
	margin-bottom: 10px;
}

.record-flag-section {
	float:left;
	height:100%;
}

.record-progress {
	height:15px;
	border:1px solid gray;
	background-color:lightgray;
	position:relative;
	cursor:pointer;
}

.record-progress .indicator {
	width:10px;
	height:30px;
	border:1px solid gray;
	background-color:lightgray;
	position:absolute;
	top:-7.5px;
	left:0;
	z-index:1;
}

.buttons {
	margin-top:20px;
	text-align:center;
}
